.project-wrapper {
  padding-bottom: 50px;

  h2 {
    color: #141417;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;

    span {
      font-size: 36px;
    }
  }
}

.project-image-wrapper {
  padding-bottom: 30px;

  img {
    width: 100%;
  }
}
